* {
	margin:0;
}

html {
	width:1600px;
}


header {
	text-align:center;
	color:#666;
	background:url('../images/Background.png');
	height:990px;
}

body>*>* {
	margin:0 315px;
}



.header-wrapper {
	padding-top:200px;
}

.header-wrapper h1 {
	color:white;
	font-size:62px;
}
.header-wrapper>* {
	margin-bottom:140px;
	line-height: 2rem;
}

.header-wrapper p:nth-of-type(1) {
	padding:0 100px;
	font-size:20px;
}

.sign-up-form {
	border:1px solid #666;
	padding:50px;
	color:#666;
}


.sign-up-form p:nth-of-type(1) {
	color:white;
	letter-spacing: 2px;
}

.sign-up-form p:nth-of-type(2) {
	font-size:12px;
	margin-bottom: 50px;
}
.sign-up-form input {
	margin-right:30px;
}

.sign-up-form .text {
	box-sizing:border-box;
	width:292px;
	height:50px;
	padding:0 20px;
	background: transparent;
	border:1px solid #666;
	color:white;

}


.sign-up-form input[type="submit"] {
	box-sizing:border-box;
	width:125px;
	height: 50px;
}

.title p:nth-of-type(1) {
	font-size:14px;
	line-height:28px;
	text-align:center;
	margin-top:85px;
}

.title p:nth-of-type(2) {
	font-size:42px;
	line-height: 52px;
	text-align: center;
	padding:0 80px;
	margin-bottom:80px;
}

#sect1 {
	height: 710px;
}

.feature {
	width:45%;
	box-sizing:border-box;
	margin-bottom:80px;
}

#sect1 .feature:nth-child(odd) {
	float:left;
}

#sect1 .feature:nth-child(even) {
	float:right;
}
#sect1 .feature img {
	float:left;
}

#sect1 .feature .text{
	margin-left:80px;
}

#sect1 .feature h4 {
	font-size:20px;
	line-height:32px;
}
#sect1 .feature p {
	color:#666;
	font-size:16px;
	line-height:26px;
}

#call-to-action {
	height:800px;
	background: url('../images/actionBackground.png');
}


#call-to-action {
	display:table-cell;
	width:1600px;
	vertical-align: middle;
}

#call-to-action *{
	margin-bottom: 40px;
}
#call-to-action h2{
	width:370px;
	font-size:40px;
	line-height: 52px;
	color:white;
	font-weight:normal;
}

#call-to-action p {
	color:#666;
	width:370px;
	font-size:18px;
	line-height: 28px;
}

#call-to-action button {
	width:240px;
	height:60px;
	border:1px solid #666;
}

#call-to-action button:nth-of-type(1) {
	background-color:white;
}

#call-to-action button:nth-of-type(2) {
	background-color:transparent;
	color:white;
}

#sect3 {
	height:580px;
	position: relative;
}
#sect3 .wrapper{
	position:absolute;
	top:50%;
	height:400px;
	margin-top:-200px;
}


#sect3  .logo-wrapper {
	display:flex;
	justify-content: space-between;
}

#sect3  .logo {
	width:27.8350515%;
	flex-direction: row;
}

#sect3  img {
	display:block;
	margin:0 auto;
}

#sect3 .logo p{
	font-size:16px;
	line-height: 26px;
	text-align:center;
}

#sect3 h2 {
	font-size:42px;
	line-height: 52px;
	text-align:center;
	font-weight: normal;
	margin-bottom:80px;
}

.photo h4 {
	font-size:17px;
	line-height: 32px;
	margin-bottom:30px;
}

.photo p {
	font-size: 15px;
	line-height:28px;
	color:#666;
}

#sect4 {
	height: 1000px;
}
#tree {
	overflow:hidden;
	margin-bottom:80px;
	height:350px;
}

#tree img {
	float:left;
	margin-right:100px;
}

#tree .text {
	height: 262px;
	position:relative;
	top:44px;
}
/*#bird {
	display:flex;
}

#bird img {
	margin-left:105px;
}
#bird .text {
	align-self: center;
	display: inline-block;
}*/


#bird {
	position:relative;
	height:350px;
}

#bird .text {
	position: absolute;
	margin-right:675px;
	top:50%;
	margin-top:-131px;
}

#bird img {
	position: absolute;
	right:0;
	top:0;
}



#crew {
	background-color:rgb(242,242,242);
	height:1084px;
	position: relative;
}

#crew .wrapper{
	position:absolute;
	height: 900px;
	top:50%;
	margin-top: -450px;
}

#crew h2 {
	font-size: 42px;
	line-height: 52px;
	text-align: center;
	margin-bottom: 25px;
}

#crew p {
	font-size:18px;
	line-height: 28px;
	text-align: center;
	margin-bottom:60px;
}

#crew .image-wrapper {
	background-color:black;

}

#team .image-wrapper {
	margin-bottom: 30px;
}
#team .image-wrapper:nth-child(odd){
	float:left;
}

#team .image-wrapper:nth-child(even) {
	float:right;
}

#team img {
	vertical-align: bottom;
}

#team img:hover {
	opacity:0.4;
}



#contact .wrapper {
	display:flex;
	height:700px;
}

#contact form {
	width:470px;
	flex:none;
	align-self:center;
	border:1px solid #666;
	border-radius:10px;
}

#contact form * {
	display: block;
	margin:0 auto 30px auto;
	width:370px;
	height:50px;
}

#contact form h4 {
	text-align: center;
}

#contact form textarea {
	height: 145px;
}

#contact form input[type="submit"] {
	background: black;
	color:white;
	border:none;
}

#contact .text {
	margin-left:130px;
	font-size:16px;
	line-height: 26px;
	align-self: center;
}

#contact .text h2 {
	font-size: 42px;
	line-height: 52px;
	margin-bottom: 37px;
}

#contact .text>p {
	margin-bottom: 70px;
}

#contact .cont p {
	margin-bottom:35px;
}

#contact .text div {
	overflow: hidden;
}
#contact .text img {
	float:left;
	margin-right:10px;
}



footer {
	background: black;
}

footer .wrapper{
	margin:0 215px;
	padding-top:100px;
	height:420px;
	box-sizing: border-box;
	display: flex;
}

footer ul {
	flex:1 1;
/*	align-self: center;*/
	padding:0;
}


footer ul h4 {
	color:white;
	font-size: 14px;
	line-height: 28px;
}

footer ul li {
	list-style: none;
}

footer ul a {
	text-decoration: none;
	font-size:16px;
	line-height: 46px;
	color:#666;
}

footer .socials-buttons li{
	display: inline-block;
	margin:30px 20px 0 0;

}