* {
    box-sizing: border-box;
}
input {
    display: block;
    width:200px;
    margin:0 auto;
    padding-left: 10px;
}
ul {
    list-style: none;
    width:200px;
    margin:0 auto;
    padding:0;
    display: none;
    border: 1px solid #e6e6e6;
}

li {
    padding-left:10px;
}
li:hover {
    background:#409eff;
    cursor:pointer;
}

.on {
    background:#f4ede3;
}