
.container {
	width:750px;
	overflow:auto;
	zoom:1;
	border:1px solid #efefef;
	background:#65a5fa;
}
h1 {
	float:left;
	width:20%;
	color:white;
	text-align:center;
}

main {
	float:right;
	width:80%;
	background-color: #fff;
	box-sizing: border-box;
	padding-left: 20px;
}


#base-info .item,#contact-info .item {
	display: inline-block;
	margin-right:2em;
}

#base-info h4,#base-info p,#contact-info h4,#contact-info p {
	display: inline;
}

#capacity p,#edu-experience p,#proj-experience p{
	margin:0;
}
#capicity h4,#edu-experience h4,#proj-experience h4 {
	margin-bottom: 0;
}

ul {
	width:400px;
	margin:0 auto;
}
li {
	list-style-type: none;
	display:inline-block;
}

li button {
	border-radius: 5px;
	outline:0;
}